.menu_lewe {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: middle;
	word-spacing: 10pt;
}
