@import url("file:///C|/Majka/Brazylia/Jeri/Css/navtekst.css");
body {
	background-color: #CCCCCC;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FF6600;
	padding-left: 5px;
	padding-top: 0px;
}
#Layer1 {
	position:absolute;
	left:328px;
	top:95px;
	width:524px;
	height:53px;
	z-index:1;
}
a:link {
	text-decoration: none;
	color: #003366;
}
a:visited {
	text-decoration: none;
	color: #000066;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.style3 {padding-left: 0px; margin-top: 20px; padding-bottom: 10px; margin-bottom: 20px; top: 30px; padding-top: 10px;}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.linia {
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FF9900;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
